.popup-background {
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .fav-box {
    background-color: #eee;
    padding: 20px;
    width: 620px;
    min-height: 365;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 3px;
  }

  .close-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  .fav-img {
    max-width: 280px;
  }

  h2 {
    margin-top: 10px;
  }

  .fav-left {
    text-align: center;
  }

  .fav-right {
    padding: 0 10px 0 20px;
    font-size: 1.4rem;
  }

  .ing-list {
    list-style: none;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .popup-background {
    width: 97.4vw;
    min-height: 130vh;
    .fav-box {
      flex-direction: column;
      width: 35rem;
      min-height: 30rem;
      padding: 3rem 2rem;
      margin-top: 5rem;
      .fav-img {
        max-width: 100%;
      }
      .close-popup {
        top: 5px;
      }
      .fav-right {
        margin-top: 2rem;
      }
    }
  }
}
