.searchBar {
  background-color: #eeeeee;
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

  form {
    input,
    select {
      margin-left: 5px;
    }
  }

  input,
  select,
  ::placeholder {
    background-color: #19323c;
    color: #f3f7f0;
    border: none;
    padding: 5px;
    height: 30px;
  }
  .header-btn {
    outline: none;
    cursor: pointer;
    padding: 7px 12px;
    transform: scale(1);
    transition: 0.1s;

    &:hover {
      transform: scale(1.1);
      transition: 0.1s;
    }
  }
}

@media (max-width: 710px) {
  .searchBar {
    flex-direction: column;
    padding: 2rem 0;
  }

  form:first-child {
    border-bottom: 1px solid #444;
    margin-bottom: 2rem;
    padding: 0 0 1rem 0;
  }
  form {
    max-width: 30rem;
    margin: auto;
  }
  .searchBar form * {
    width: 100%;
    margin-bottom: 0.4rem;
  }
}
