header {
  background-color: #19323c;
  background: rgb(25, 50, 60);
  background: linear-gradient(
    90deg,
    rgba(25, 50, 60, 1) 0%,
    rgba(46, 79, 92, 1) 60%,
    rgba(71, 111, 126, 1) 100%
  );
  padding: 10px;
  color: #f3f7f0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #eee;
    text-decoration: none;
  }
  .nav-item {
    padding: 0 10px;
    font-size: 1.8rem;
  }
}
