.form-box {
  width: 320px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loginShown 0.5s;

  form {
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .fa-login {
    font-size: 4.5rem;
    background-color: #19323c;
    color: #f5f5f5;
    padding: 15px 22px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
  }
  .input-box {
    position: relative;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .input-box input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
  }

  .input-box {
    position: relative;
  }

  .input-box label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #747474;
    color: #747474;
  }

  .input-box label::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.4s ease;
  }

  .input-label-content {
    position: absolute;
    bottom: 5px;
    left: 3px;
    transition: all 0.4s ease;
  }

  .input-box input:focus + .input-label .input-label-content,
  .input-box input:not(:placeholder-shown) + .input-label .input-label-content {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
  }

  .input-box input:focus + label::after,
  .input-box input:not(:placeholder-shown) + label::after {
    transform: translateX(0%);
    transition: all 0.4s ease;
    opacity: 1;
  }

  .input-box-select select {
    display: inline-block;
    // border: 1px solid #444;
    border: none;
    background-color: #ddd;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .btn-auth {
    background: #19323c;
    color: #eee;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      background: #44788b;
    }
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .p-auth-color {
    color: #44788b;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-box-hidden {
  left: -50%;
  animation: loginHidden 0.5s;
}

.signup-box {
  animation: signUpHidden 0.5s;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  display: none;
}

.signup-box-shown {
  left: 50%;
  display: block;
  animation: signUpShown 0.5s;
}

@keyframes loginHidden {
  from {
    left: 50%;
    opacity: 1;
    display: block;
  }
  to {
    left: -10%;
    opacity: 0;
    display: none;
  }
}

@keyframes signUpShown {
  from {
    left: 85%;
    opacity: 0;
    display: none;
  }
  to {
    left: 50%;
    opacity: 1;
    display: block;
  }
}

@keyframes loginShown {
  from {
    left: -10%;
    opacity: 0;
    display: none;
  }
  to {
    left: 50%;
    opacity: 1;
    display: block;
  }
}

@keyframes signUpHidden {
  from {
    left: 50%;
    opacity: 1;
    display: block;
  }
  to {
    left: 85%;
    opacity: 0;
    display: none;
  }
}
